@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-custom {
        text-shadow: 0.5px 0.5px 0 #ee5f38;
    }
}

@layer utilities {
    @media (max-width: 768px) {
        .menu {
            overflow: hidden;
            transition:
                max-height 0.3s ease,
                padding 0.3s ease;
            max-height: 0;
        }

        .menu-open {
            border-top: 1px dashed rgba(128, 128, 128, 0.4);
            max-height: 400px !important;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
    }
}

:root {
    --primary-color: #040d12;
    --secondary-color: #ee5f38;
    --custom-yellow: #ffc000;
    --custom-blue: #0057fe;
    --swiper-theme-color: var(--custom-blue);
    --custom-white: #f6f5f2;
}

* {
    font-family:
        'Rubik',
        Roboto,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

.text-shadow {
    text-shadow: 0.5px 0.5px var(--secondary-color);
}

.blink {
    animation: blink-animation 0.5s infinite;
}

@keyframes blink-animation {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes link-arrow-hover {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(1px) translateY(-1px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.animate-link-arrow-hover:hover #link-arrow {
    animation: link-arrow-hover 0.8s ease infinite;
}

.background-grid {
    position: relative;
    background-image: linear-gradient(to right, #00000050 1px, transparent 1px),
        linear-gradient(to bottom, #00000050 1px, transparent 1px);
    background-size: 10vh 10vh;
}

.dark .background-grid {
    background-image: linear-gradient(to right, #ffffff10 1px, transparent 1px),
        linear-gradient(to bottom, #ffffff10 1px, transparent 1px);
}

.background-grid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        var(--custom-white),
        rgb(128 128 128 / 0%),
        rgb(128 128 128 / 0%),
        var(--custom-white)
    );
    pointer-events: none;
}

.dark .background-grid::before {
    background: linear-gradient(
        to bottom,
        var(--primary-color),
        rgb(128 128 128 / 0%),
        rgb(128 128 128 / 0%),
        var(--primary-color)
    );
}

/* project card */

.swiper-slide {
    cursor: grab;
}

.swiper-slide:active {
    cursor: grabbing;
}

.swiper-button-prev,
.swiper-button-next {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-slide {
    transition:
        transform 0.5s ease-in-out,
        filter 1s ease-in-out;
}

.swiper-slide-prev,
.swiper-slide-next {
    filter: blur(5px);
}

.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.swiper-pagination-bullet {
    box-shadow: 0px 0px 5px 2px white;
    border: 1px solid black;
}

/* project card */
